/* dashboard.css */
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

h2, h3 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

button {
    margin: 2px;
}

.nav-tabs .nav-link.active {
    background-color: #007bff;
    color: white !important;
}
